#ignore png directory
#/Results/
#/Methods/43_Forcing_Based/1_ERF_FaIR/retrospective
#/Methods/43_Forcing_Based/1_ERF_FaIR/resliced_NorESM
#/Methods/43_Forcing_Based/1_ERF_FaIR/resliced_MPIESM
.DS_Store
/Methods/43_Forcing_Based/3_Human_Induced/Thorne2025_GWI_Results/photos/
