#ignore png directory
#/Results/
#/Methods/43_Forcing_Based/1_ERF_FaIR/retrospective
#/Methods/43_Forcing_Based/1_ERF_FaIR/resliced_NorESM
#/Methods/43_Forcing_Based/1_ERF_FaIR/resliced_MPIESM
*.pyc
__pycache__/
/logs
/logs2
/logs3
config.py
#allow us to set path directories on one machine and don't fix them
.DS_Store
/Results2
/Results3
/Results3a
/Results2a
/Results3b
/Methods/43_Forcing_Based/3_Human_Induced/Thorne2025_GWI_Results/photos/
