[submodule "Methods/42_Temp_Alone/6_Remove_IV/dynamical_adjustment_elasticnet-Sippel"]
	path = Methods/42_Temp_Alone/6_Remove_IV/dynamical_adjustment_elasticnet-Sippel
	url = https://github.com/sebastian-sippel/dynamical_adjustment_elasticnet
[submodule "Methods/42_Temp_Alone/6_Remove_IV/forced-patterns"]
	path = Methods/42_Temp_Alone/6_Remove_IV/forced-patterns
	url = https://github.com/rcjwills/forced-patterns
[submodule "Methods/42_Temp_Alone/6_Remove_IV/lfca"]
	path = Methods/42_Temp_Alone/6_Remove_IV/lfca
	url = https://github.com/jnickla1/lfca
[submodule "Methods/43_Forcing_Based/1_ERF_FaIR/temperature-attribution"]
	path = Methods/43_Forcing_Based/1_ERF_FaIR/temperature-attribution
	url = https://github.com/jnickla1/temperature-attribution
[submodule "Methods/43_Forcing_Based/2_Kalman/EBM2-linearHeat"]
	path = Methods/43_Forcing_Based/2_Kalman/EBM2-linearHeat
	url = https://github.com/donaldcummins/EBM2
[submodule "Methods/43_Forcing_Based/3_Human_Induced/KCC"]
	path = Methods/43_Forcing_Based/3_Human_Induced/KCC
	url = https://github.com/jnickla1/KCC
[submodule "Methods/43_Forcing_Based/3_Human_Induced/anthropogenic-warming-assessment"]
	path = Methods/43_Forcing_Based/3_Human_Induced/anthropogenic-warming-assessment
	url = https://github.com/jnickla1/anthropogenic-warming-assessment
[submodule "Methods/43_Forcing_Based/3_Human_Induced/global-warming-index"]
	path = Methods/43_Forcing_Based/3_Human_Induced/global-warming-index
	url = https://github.com/tristramwalsh/global-warming-index
[submodule "Hist_heads_tails/global_temperature_merge"]
	path =  Hist_heads_tails/global_temperature_merge
        url = https://github.com/jjk-code-otter/global_temperature_merge
