#ignore png directory
#/Results/
#/Methods/43_Forcing_Based/1_ERF_FaIR/retrospective
#/Methods/43_Forcing_Based/1_ERF_FaIR/resliced_NorESM
#/Methods/43_Forcing_Based/1_ERF_FaIR/resliced_MPIESM
*.pyc
__pycache__/
/logs
/logs2
/logs3
/logs4
config.py
#allow us to set path directories on one machine and don't fix them
*.pickle
.DS_Store
/Results2
/Results3
/Results3a
/Results2a
/Results3b
/OHC_ensemble/not_using/Gebbie2019_not_using/
/Methods/43_Forcing_Based/3_Human_Induced/KCC/
/Methods/42_Temp_Alone/6_Remove_IV/forced-patterns/
/Methods/43_Forcing_Based/2_Kalman/heads_tails_forcing/ClimateIndicator-forcing-timeseries/
/Methods/43_Forcing_Based/3_Human_Induced/heads_tails/photos/
/Methods/43_Forcing_Based/3_Human_Induced/Thorne2025_GWI_Results/photos/
